
h1 {
  color: red;
  text-align: center;
  text-transform: capitalize;
}

h2 {
  text-align: center;
  line-height: .5em;
  margin-bottom: 3em;
}

body {
  font-family: sans-serif;
  margin: auto;
  width: 60%;
  padding:0 25%;
}

#comment {
  font-style: italic;
  font-weight: bold;
}
